[submodule "src/fctx"]
	path = src/fctx
	url = https://github.com/jrmobley/pebble-fctx.git
[submodule "tools/fctx-compiler"]
	path = tools/fctx-compiler
	url = https://github.com/jrmobley/pebble-fctx-compiler.git
